@inherits LayoutComponentBase

<div class="sidebar">
    <div class="movedownnav text-nowrap">
        <NavMenu />
    </div>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
